<!DOCTYPE html>
<html>
<head>
    <title>Strona główna</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/menu_style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.loadprace').click(function() {
                $.ajax({
                    url: '/prace',
                    type: 'GET',
                    success: function(response) {
                        location.href('/prace')
                },
                });
            });
        });
    </script>
</head>
<body>
    <h1>Witaj na stronie głównej</h1>
    <p>Jest to prosta aplikacja TODO</p>

    <button onclick="location.href='/prace'" type="button">PRACE</button>
    <button onclick="location.href='/zgloszenia'" type="button">ZGŁOSZENIA</button>

</body>
</html>