<!DOCTYPE html>
<html>
<head>
    <title>Praca</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style_prace_form.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    document.addEventListener('DOMContentLoaded', function() {
        var deadlineInput = document.getElementById('deadline');
        var today = new Date().toISOString().split('T')[0];
        deadlineInput.setAttribute('min', today);
    });

        $(document).ready(function() {
            $('#submitButton').click(function() {
                var name = $('#name').val();
                var desc = $('#desc').val();
                var deadline = $('#deadline').val();

                var data = {
                    name: name,
                    desc: desc,
                    deadline: deadline
                };

                $.ajax({
                    url: '/prace',
                    type: 'POST',
                    data: data,
                    success: function(response) {
                        location.href = "/prace"; // redirect to main page after adding
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#editButton').click(function() {
                var id = $('#id').val();
                var name = $('#name').val();
                var desc = $('#desc').val();
                var deadline = $('#deadline').val();

                var data = {
                    name: name,
                    desc: desc,
                    deadline: deadline
                };

                $.ajax({
                    url: '/prace/' + id,
                    type: 'PUT',
                    data: data,
                    success: function(response) {
                        location.href = "/prace"; // redirect to main page after adding
                    }
                });
            });
        });

    </script>
</head>
<body>
    {% if praca %}
        <h1>Edytuj pracę</h1>
    {% else %}
        <h1>Dodaj pracę</h1>
    {% endif %}
    <form>
        {% if praca %}
            <input type="hidden" id="id" name="id" value="{{ praca.id }}">

            <label for="name">Nazwa:</label>
            <input type="text" id="name" name="name" value="{{ praca.nazwa }}" required><br><br>

            <label for="desc">Opis:</label>
            <textarea id="desc" name="desc" required>
{{ praca.opis }}
            </textarea><br><br>

            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" name="deadline" {% if praca.deadline %}value="{{ praca.deadline }}"{% endif %} required><br><br>

        {% else %}

            <label for="name">Nazwa:</label>
            <input type="text" id="name" name="name" required><br><br>


            <label for="desc">Opis:</label>
            <textarea id="desc" name="desc" required></textarea><br><br>

            <label for="deadline">Deadline:</label>
            <input type="date" id="deadline" name="deadline" required><br><br>

        {% endif %}

        {% if praca %}
            <button type="button" id="editButton">Edytuj</button>
        {% else %}
            <button type="button" id="submitButton">Dodaj</button>
        {% endif %}     

    </form>
    <br>
    <a href="/">Powrót</a>
</body>
</html>
