<!DOCTYPE html>
<html>
<head>
    <title>Zgłoszenie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style_zgloszenie_form.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#submitButton').click(function () {
                var email = $('#email').val();
                var message = $('#message').val();
                var phone_num = $('#phone_num').val();
                var praca = $('#praca').val();

                if (!validateEmail(email)) {
                    alert("Proszę wprowadzić poprawny adres e-mail.");
                    return;
                }

                if (!validatePhoneNumber(phone_num)) {
                    alert("Proszę wprowadzić poprawny numer telefonu w formacie XXX-XXX-XXX.");
                    return;
                }

                var data = {
                    email: email,
                    message: message,
                    phone_num: phone_num,
                    praca: praca
                };

                $.ajax({
                    url: '/zgloszenia',
                    type: 'POST',
                    data: data,
                    success: function (response) {
                        location.href = "/zgloszenia"; // redirect to main page after adding
                    }
                });
            });

            // email validation
            function validateEmail(email) {
                var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return re.test(email);
            }

            // phone validation (pattern is XXX-XXX-XXX)
            function validatePhoneNumber(phone_num) {
                var re = /^\d{3}-\d{3}-\d{3}$/;
                return re.test(phone_num);
            }
        });

        $(document).ready(function () {
            $('#editButton').click(function () {
                var id = $('#id').val();
                var email = $('#email').val();
                var message = $('#message').val();
                var phone_num = $('#phone_num').val();
                var praca = $('#praca').val();

                if (!validateEmail(email)) {
                    alert("Proszę wprowadzić poprawny adres e-mail.");
                    return;
                }

                if (!validatePhoneNumber(phone_num)) {
                    alert("Proszę wprowadzić poprawny numer telefonu w formacie XXX-XXX-XXX.");
                    return;
                }

                var data = {
                    email: email,
                    message: message,
                    phone_num: phone_num,
                    praca: praca
                };

                $.ajax({
                    url: '/zgloszenia/' + id,
                    type: 'PUT',
                    data: data,
                    success: function (response) {
                        location.href = "/zgloszenia"; // redirect to main page after adding
                    }
                });
            });

            // email validation
            function validateEmail(email) {
                var re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return re.test(email);
            }

            // phone number validation (pattern is XXX-XXX-XXX)
            function validatePhoneNumber(phoneNumber) {
                var re = /^\d{3}-\d{3}-\d{3}$/;
                return re.test(phoneNumber);
            }
        });
    </script>
</head>
<body>
    {% if zgloszenie %}
        <h1>Edytuj zgłoszenie</h1>
    {% else %}
        <h1>Dodaj zgłoszenie</h1>
    {% endif %}
    <form>
        {% if zgloszenie %}
            <input type="hidden" id="id" name="id" value="{{ zgloszenie.id }}">

            <label for="praca">Praca:</label>
            <select id="praca" name="praca" required>
                {% for praca in prace %}
                    {% if not praca.taken %}
                        <option value="{{ praca.id }}" {% if zgloszenie.praca.id == praca.id %}selected{% endif %}>{{ praca.name }}</option>
                    {% endif %}
                {% endfor %}
            </select><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ zgloszenie.email }}" required><br><br>

            <label for="message">Wiadomość:</label>
            <textarea id="message" name="message" required>{{ zgloszenie.message }}</textarea><br><br>

            <label for="phone_num">Numer Telefonu:</label>
            <input type="tel" id="phone_num" name="phone_num" value="{{ zgloszenie.phone_num }}" required><br><br>

        {% else %}

            <label for="praca">Praca:</label>
            <select id="praca" name="praca" required>
                {% for praca in prace %}
                    {% if not praca.taken %}
                        <option value="{{ praca.id }}">{{ praca.name }}</option>
                    {% endif %}
                {% endfor %}
            </select><br><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>

            <label for="message">Wiadomość:</label>
            <textarea id="message" name="message" required></textarea><br><br>

            <label for="phone_num">Numer Telefonu:</label>
            <input type="tel" id="phone_num" name="phone_num" required><br><br>
            <small>Format: XXX-XXX-XXX</small><br><br>

        {% endif %}

        {% if zgloszenie %}
            <button type="button" id="editButton">Edytuj</button>
        {% else %}
            <button type="button" id="submitButton">Dodaj</button>
        {% endif %}

    </form>
    <br>
    <a href="/">Powrót</a>
</body>
</html>
